body {
    background-color: #003232;
}
.body-container {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
    width: 80vw;
    height: 500px;
    max-height: 80vh;
    background-color: #003232;
    color: #DCFFDF;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
}
h1, h2, h3 {
    color: #00DC69;
}
h2 {
    font-size: 12px;
}
.footer {
    font-style: italic;
    font-size: smaller;
    color: gray;
    position:absolute;
    left:0;
    bottom:0;
    width: 100%;
    text-align: center;
}